<footer class="bg-light border-top py-4 mt-5">
  <div class="container text-center">
    <p class="mb-1">&copy; {{ site.time | date: '%Y' }} Panshral. All rights reserved.</p>
    <div class="mb-3">
      <a href="#" class="me-3 text-dark"><i class="fab fa-facebook fa-lg"></i></a>
      <a href="#" class="me-3 text-dark"><i class="fab fa-instagram fa-lg"></i></a>
      <a href="#" class="me-3 text-dark"><i class="fab fa-linkedin fa-lg"></i></a>
    </div>
    <form class="mt-2">
      <label for="subscribe" class="form-label">Subscribe for updates</label>
      <input type="email" id="subscribe" class="form-control w-auto d-inline-block" placeholder="Enter your email">
    </form>
  </div>
</footer>